@import url('https://fonts.googleapis.com/css?family=News+Cycle');



body {
	font-size: 14px;
	font-family: 'News Cycle', sans-serif;
}

.tab-pane.fade h3 {
/*	font-size: 40px;*/
	margin-bottom: 40px;
	text-align: center;
}

.calendar {
	max-width: 600px;
	height: auto;
	margin: 0 auto;
	overflow: auto;
}


